/* 隐藏浏览器默认的滚动条 */
::-webkit-scrollbar {
    display: none;
}
  
/* 自定义滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
  
/* 自定义滚动条滑块 */
::-webkit-scrollbar-thumb {
    background-color: #888;
}
  
/* 鼠标悬停在滑块上时的样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

* {
    margin: 0%;
    padding: 0%;
}

div {
    touch-action: auto;
    /*animation: fadeInAnimation ease 0.5s;*/
    animation-iteration-count: 1;
    /*设置动画播放次数*/
    animation-fill-mode: forwards;
    /*设置样式以在动画不播放时应用元素。forward是设置动画结束后，使用元素的结束属性值*/
}

.half-br {
    height: 10px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        /*设置不透明度*/
    }
  
    100% {
        opacity: 1;
    }
  }
  