<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.transaction.mapper.TransactionSecurityMapper">
    <select id="selectSecurityByTypeAndExchange" resultType="com.example.transaction.model.po.TransactionSecurity">
        select * from transaction_security
        where security_type = #{type}
        and security_exchange = #{exchange}
        and (security_code like '%${keyword}%' or security_name like '%${keyword}%')
        limit 100
    </select>

    <select id="selectSecurityBySubtypeAndExchange" resultType="com.example.transaction.model.po.TransactionSecurity">
        select * from transaction_security
        where security_subtype = #{subtype}
        and security_exchange = #{exchange}
        and (security_code like '%${keyword}%' or security_name like '%${keyword}%')
        limit 100
    </select>
</mapper>